*{
   box-sizing: border-box;
   margin:0px;
   padding:0px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gallery{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh;
}
.gallery .gallery__titulo{
    position: absolute;
    top: 30%;
    z-index: 1;
    font-size:5rem;
    left: 6%;
    color: #000000ca;
}
.gallery .gallery__subtitulo{
    position: absolute;
    top: 43%;
    z-index: 1;
    font-size:2.3rem;
    left:7%;
    color: #000000ca;
}
.gallery__site{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;   
}
.gallery__box--principal{
    width: 45%;
    display: flex;
    z-index: 0;
    box-sizing: border-box;
}
.gallery__box--secundary{
    width: 44.6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
}
.box{
    height: 0px;
    position: relative;
    overflow: hidden;
    border: solid 5px white;
}
.gallery__xlBox__img{
    width:100%;
    padding-bottom: 100%;
}
.gallery__smallBox__img{
    width: 49.6%;
    padding-bottom: 49.6%;
}
.gallery__img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery__boton{
    position: absolute;
    left:81%;
    bottom:20%;
    background-color: black;
    color:white;
    width:5%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* for-phone-only */
@media only screen and (max-width: 549px) and (orientation:portrait){
     .gallery{
         display: flex;
         align-items: center;
     }
    .gallery__site{
        display:flex;
        flex-direction: column;
    }
    .gallery__box--principal{
        width: 100%;  
    }
    .gallery__box--secundary{
        width: 100%;
    }
    .gallery__titulo{
        font-size: 2rem !important;
        position: initial !important;
    }
    .gallery__subtitulo{
        font-size: 1rem !important;
        position: initial !important;
    }
    .gallery__boton{
        position:initial !important;
        width: 50%;
        border-radius: 8px;  
        background-color: rgba(0, 0, 0, 0.726);
    }   
    .gallery__smallBox__img{
        width: 50%;
        padding-bottom: 50%;
    }
    
} 

/*for-tablet-portrait-up*/
@media only screen and (max-width: 899px) and (min-width: 550px) {
    .gallery{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery__smallBox__img {
        width: 48%;
        padding-bottom: 48%;
    }
    .gallery__box--secundary{
        width: 45.6%;
    }
    .gallery__titulo{
        font-size: 4rem !important;
        left:6% !important;
        position: initial !important;
    }
    .gallery__subtitulo{
        font-size: 1.1rem !important;
        position: initial !important;
    }
    .gallery__boton{
        font-size: x-small;
        height: 7% !important;
    }
}

/*for-tablet-landscape-up*/
@media only screen and (max-width: 1199px) and (min-width: 900px) {
    .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery__titulo, .gallery__subtitulo{
        position: initial !important;
    }
    .gallery__box--secundary{
        width: 44.3%;
    }
    .gallery__boton{
        width: 5%;
        height: 7%;
        left: 81%;
        bottom: 21%;    
    }
}